<ol>
<% @polls.each do |poll| %>
<li>
  <div>
    <% link_text = "#{poll.title} (#{pluralize poll.questions.count, 'questions'})" %>
    <%= link_to link_text, poll_path(poll)  %>
  </div>
  <div>
    <%= poll.description %>
  </div>
  <div>
    <%= poll.creator.username %>
  </div>
<% end %>
</ol>
